@charset "UTF-8";
html, body {
	font-family: Arial, Helvetica, sans-serif;
	}
.align-center {
    text-align: center;
}

div {
    display: block;
}

div.body-content > div.content {
    width: -moz-calc(100% - 205px);
    width: -webkit-calc(100% - 205px);
    width: -o-calc(100% - 205px);
    width: calc(100% - 205px);
    box-sizing: border-box;
    float: left;
}

a {
    text-decoration: none;
    color: #333;
}

a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clear {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
    clear: both !important;
}
.navi-side .pagelink {
    float: right;
    margin: 3px 2px;
}
div.pagelink a, div.pagelink span {
    display: inline-block;
    zoom: 1;
    display: inline;
    margin: auto 2px;
    font-size: 16px;
    padding: 0px 8px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dfdfdf;
    font-weight: bold;
    color: #585858;
}	
div.pagelink span {
    color: #f60;
}
dl {
    width: 100%;
    box-sizing: border-box;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}
dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    width: 100%;
    font-weight: 700;
}
dt, dd {
    line-height: 1.42857143;
}
dt ul.field-list {
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid black;
}
ul.field-list {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
ul, li {
    list-style: none;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
dt ul.field-list li.title {
    text-align: center;
    line-height: 30px;
    position: relative;
}
ul.field-list li.title {
    width: -moz-calc(100% - 405px);
    width: -webkit-calc(100% - 405px);
    width: -o-calc(100% - 405px);
    width: calc(100% - 405px);
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    line-height: 41px;
    margin-left: 15px;
}
dt ul.field-list li {
    min-height: inherit;
    line-height: 30px;
}
ul.field-list li {
    float: left;
    margin: 0px;
    padding: 5px;
    vertical-align: middle;
    position: relative;
    min-height: 41px;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul.field-list li.hot {
    width: 110px;
    text-align: center;
}
ul.field-list li.author {
    width: 130px;
    text-align: center;
}
ul.field-list li.added {
    width: 130px;
    text-align: center;
}
ul.field-list {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
dd ul.field-list li.title .vam {
    vertical-align: middle;
    display: table-cell;
    height: 41px;
    margin: auto;
}
ul.field-list li * {
    color: #333;
}
dd ul.field-list li.title h3 a.title {
    max-width: 100%;
    display: block;
	text-align:center;

}
.text-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    zoom: 1;
    overflow: hidden;
    letter-spacing: normal;
    word-spacing: normal;
}
ul.field-list li.title div.icon {
    margin: auto 0px auto 4px;
    padding: 0px;
    float: left;
}
ul.field-list li.title div.icon span {
    display: block;
    background: url(//img.eprice.com.tw/img/tw/talk.gif) no-repeat;
    position: relative;
    margin: 0px 6px 0px 0px;
}
ul.field-list li.hot span.count {
    margin: 4px auto 0px auto;
    font-size: 11px;
    color: #afafaf;
}

div.pagelink a, div.pagelink span {
    display: inline-block;
    zoom: 1;
    display: inline;
    margin: auto 2px;
    font-size: 16px;
    padding: 0px 8px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dfdfdf;
    font-weight: bold;
    color: #585858;
}	
div.pagelink span {
    color: #f60;
}
#orderBySelect option:checked {
    background-color: #ddd;
    font-weight: bold;
  }