@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.empPhoto {
  height: 60px;
  /* width: 60px; */
}

#journal-scroll::-webkit-scrollbar {
	width: 4px;
	cursor: pointer;
	/*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
}

#journal-scroll::-webkit-scrollbar-track {
	background-color: rgba(229, 231, 235, var(- -bg-opacity));
	cursor: pointer;
	/*background: red;*/
}

#journal-scroll::-webkit-scrollbar-thumb {
	cursor: pointer;
	background-color: #a0aec0;
	/*outline: 1px solid slategrey;*/
}
.st0 {
	fill: white;
}
